<div class="w-[80vw] h-screen mx-auto flex justify-start items-center">

  <div>
    All Tasks
  </div>

  <div>
    <button
      class="w-full py-3 px-4 bg-purple-600 text-white rounded-md font-medium hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-400">
      Add New Task
    </button>
  </div>

  <div *ngFor="let task of tasks" class="border-b p-4">
    <div>
      {{ task.title }}
    </div>
    <div>
      {{ task.description }}
    </div>
    <div>
      {{ task.dueDate | date:'shortDate' }}
    </div>
  </div>

</div>
